:root {
    --blanco: #FFFFFF;
    --negro: #212121;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    
    --color01: #253242;
    --color02: #2E486B;
    --color03: #00626d;
    --color04: #0097a7;
    --color05: #1178B2;
    --color06: #638EFF;
    --color07: #60AABB;
    --color08: #5FC1CA;
    --color09: #ABCBFA;
    --color10: #84D5C6;
    --color11: #B5DAC1;
    --color12: #E7FAF4;
    --color13: #851452;
    --color14: #EE5543;
    --color15: #F88DA7;
    --color16: #EBA0A0;
    --color17: #E58E63;
    --color18: #fdd070;    
}

html {
    font-size: 62.5%;
    box-sizing: border-box;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background: #DFE9F3;
    background: linear-gradient(to right, var(--grisClaro) 0%, var(--blanco) 100%);       
}

h1 {
    font-size: 3.8rem;
    font-weight: normal;
    text-align: center;
}

.titulo span {
    font-weight: bold;
    color: var(--color04);
}

p span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color13);
}

li span {    
    font-weight: bold;    
}

.contenedor {    
    margin: 0 auto;    
}

.nav-bg {
    background-color: var(--color02);    
    margin: 0 1rem;
}

.navegacion {    
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
    }
}

.navegacion a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;   
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem; 
}

.navegacion a:hover {
    background-color: var(--color05);    
}

p.copyright {    
    text-align: center;
}

.campos {  
    margin: 1rem;
}

.error {
    background-color: #b7322c;
    padding: 1rem;
    margin: 1rem;
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;    
}

.formulario {
    margin: 1rem;
}

.subtitulo {
    font-weight: bold;
    font-size: 1.6rem;
}

.resultado {    
    margin: 1rem;
    padding: 0 2rem;
    border: 1px solid black;
    background-color: var(--color09);
}

.tu-cuil {
    margin-top: 0;
}

.formulario {
    background-color: var(--color18);
    border: 1px solid black;
}

fieldset {
    border: none;
}

legend {
    padding-top: 1.5rem;
    padding-left: 1rem;
}